<div class="container">

    <!-- Animal LIST -->

    <div class="col-md-4 col-md-offset-4">
        <table class="table table-striped">
            <tr>
                <th>
                Looma nimi
                </th>
                <th>
                Looma liik
                </th>
                <th class="col-md-1"></th>
            </tr>
            <tr ng-repeat="animal in vm.animals" ng-click="vm.openAnimal(animal)">
                <td>
                    {{animal.animalName}}
                </td>
                <td>
                    {{animal.animalType}}
                </td>
                <td class="text-center">
                <span class="btn glyphicon glyphicon-remove" ng-click="vm.deleteAnimal(animal._id)"></span>
                </td>
            </tr>
        </table>
    </div>

    <!-- FORM TO CREATE Animals -->
    <div id="animal-form" class="row">
        <div class="col-sm-8 col-sm-offset-2 text-center">
            <form>
                <div class="form-group">
                    <!-- BIND THIS VALUE TO formData.text IN ANGULAR -->
                    <input type="text" class="form-control input-lg text-center" placeholder="Insert animal" ng-model="vm.formData.animalName">
                    <input type="text" class="form-control input-lg text-center" placeholder="Insert animal type" ng-model="vm.formData.animalType">
                </div>

                <!-- createToDo() WILL CREATE NEW TODOS -->
                <button type="submit" class="btn btn-primary btn-lg" ng-click="vm.createAnimal()">Add</button>
            </form>
        </div>
    </div>


</div>