<div class="container">

    <button class="btn btn-primary" ng-click="vm.openAnimal()">Ava loom</button>

    <!-- Animal LIST -->
    <div id="animal-list" class="row">
        <div class="col-sm-4 col-sm-offset-4">

            <!-- LOOP OVER THE animals IN $scope.animals -->
            <div class="checkbox" ng-repeat="animal in vm.animals">
                <label>
                    {{ animal.animalName }} {{ animal.animalType }}
                    <span class="glyphicon glyphicon-remove" ng-click="vm.deleteAnimal(animal._id)"></span>
                </label>
            </div>

        </div>
    </div>

    <!-- FORM TO CREATE Animals -->
    <div id="animal-form" class="row">
        <div class="col-sm-8 col-sm-offset-2 text-center">
            <form>
                <div class="form-group">
                    <!-- BIND THIS VALUE TO formData.text IN ANGULAR -->
                    <input type="text" class="form-control input-lg text-center" placeholder="Insert animal" ng-model="vm.formData.animalName">
                    <input type="text" class="form-control input-lg text-center" placeholder="Insert animal type" ng-model="vm.formData.animalType">
                </div>

                <!-- createToDo() WILL CREATE NEW TODOS -->
                <button type="submit" class="btn btn-primary btn-lg" ng-click="vm.createAnimal()">Add</button>
            </form>
        </div>
    </div>


</div>