<!-- SET THE CONTROLLER AND GET ALL Animals -->
<div class="container">

    <!-- Animal LIST -->
    <div id="sighting-list" class="row">
        <div class="col-sm-4 col-sm-offset-4">

            <!-- LOOP OVER THE sightings IN $scope.animals -->
            <div class="checkbox" ng-repeat="sighting in vm.sightings">
                <label>
                    {{ sighting.sightingName }}
                    <span class="glyphicon glyphicon-remove" ng-click="vm.deleteSighting(sighting._id)"></span>
                </label>
            </div>

        </div>
    </div>

    <!-- FORM TO CREATE Sightings -->
    <div id="animal-form" class="row">
        <div class="col-sm-8 col-sm-offset-2 text-center">
            <form>
                <div class="form-group">
                    <select class="form-control input-lg text-center" ng-model="vm.formData.sightingAnimal">
                        <option ng-repeat="animal in vm.animals" value={{animal._id}}>{{animal.animalName}}</option>
                    </select>
                    <!--input type="text" class="form-control input-lg text-center" placeholder="Insert animal name"
                           ng-model="formData.sightingAnimal"-->
                    <input type="text" class="form-control input-lg text-center" placeholder="Insert location"
                           ng-model="vm.formData.sightingLocation">
                    <input type="text" class="form-control input-lg text-center" placeholder="Insert time of spotted"
                           ng-model="vm.formData.sightingTime">
                </div>

                <button type="submit" class="btn btn-primary btn-lg" ng-click="vm.createSighting()">Add</button>
            </form>
        </div>
    </div>


</div>

</body>